__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
.env.*

outputs/**
!outputs/.gitkeep
/data/
/2511.00540v2.pdf
tmp/

third_party/Dinomaly2/backbones/weights/
third_party/OpenCLIP/weights/

*.log
*.pt
*.pth
*.ckpt
